<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>418782133645-c2sia9efk07s5hb907hem2b4vrt3b349.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418782133645-c2sia9efk07s5hb907hem2b4vrt3b349</string>
	<key>API_KEY</key>
	<string>AIzaSyDMgh9K7JmD4cnVXiEqM_B7OFN1zr11vCs</string>
	<key>GCM_SENDER_ID</key>
	<string>418782133645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.co.MvcApp</string>
	<key>PROJECT_ID</key>
	<string>mvcapp-45710</string>
	<key>STORAGE_BUCKET</key>
	<string>mvcapp-45710.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:418782133645:ios:05e980da3ae4514b</string>
	<key>DATABASE_URL</key>
	<string>https://mvcapp-45710.firebaseio.com</string>
</dict>
</plist>